.flipped {
  transform: scaleX(-1);
}

.asTable {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.navButton {
  width: 10%;
  vertical-align: middle;
  cursor: pointer;
  opacity: 0.15;
  transition: opacity 0.5s ease;
}

.asTable:hover .navButton {
  opacity: 1;
}

.navButton > img {
  width: 40%;
  margin: auto;
  display: block;
}

.navContent{
  width: 80%;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.fadeOut {
  opacity: 0;
}

.navButton, .navContent {
  display: table-cell;
}

.content {
  display: block;
}

.simpleSlideImg {
  max-width: 100%;
  max-height: calc(100% - 52px); /* 52px is the height of one of the <p> elements */
  margin: auto;
  display: block;
}

.simpleSlideText {
  text-align: center;
  font-size: 16px;
}

.simpleSlide {
  height: 100%;
}