.foods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.foods > img {
  width: 64px;
  height: auto;
}

.bigRaccoon {
  width: 128px;
  max-width: 80%;
  display: block;
  margin: auto;
}

.acorn, .bud, .crayfish, .grass, .mussel, .apple, .bird, .cherry, .corn, .fish, .frog, .insect, .mouse, .reptile, .trash, .cougar, .coyote, .dog, .hawk, .owl, .snake, .person {
  z-index: 1;
}