.biomeExample {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

/* Finds a slideshow height that is equally annoying for all viewers */

@media only screen and (min-width: 0px) {
  .habitatInfo, .overview {
    --dynamic-max-height: 10vh;
  }

  .overview {
    flex-direction: column;
  }
}

@media only screen and (min-width: 800px) {
  .habitatInfo, .overview {
    --dynamic-max-height: 30vh;
  }

  .overview {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1000px) {
  .habitatInfo, .overview {
    --dynamic-max-height: 60vh;
  }
}

.habitatInfo {
  height: var(--dynamic-max-height);
}

.habitatInfo img {
  max-height: calc(var(--dynamic-max-height) - 60.44px); /* 60.44px is the height of an <h3> */
}

.overview {
  display: flex;
  max-height: calc(var(--dynamic-max-height) - 60.44px);
  flex-basis: 50%;
}

.overview > img {
  flex-shrink: 1;
  min-width: 0;
  padding: 1%;
}